.container{
    height: 80px;
    width: 400px;
    background-color: rgb(206, 203, 203);
    border-radius: 5px ;
    border: 5px;
    padding: 10px;
    margin-left: 100px;
} 

.container:hover{
    border-color: black;
    
    box-shadow:  0 4px 8px 0 rgba(0,0,0,0.2) ;
} 

input{
    padding: 10px 10px ;
    width: 350px;
    background-color:rgb(206, 203, 203) ;
    border: none;
}
input:focus{
   outline: none;
}

.container-fluid{
    margin-top: 20px;
}

/*pagination*/
.nav {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    bottom: 0;

  }
  
  /* Style the links inside the navigation bar */
  .nav a {
    float: fixed;
    display: block;
    color: #0e0d0d;
    text-align: center;
    padding: 8px 8px;
    text-decoration: none;
    font-size: 15px;
  }
  
  /* Change the color of links on hover */
  .nav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .nav a.active {
    background-color: #6d3cf5;
    color: white;
  }

  .form-select{
    border:0px;
    outline: 0px;
}
select:focus{
    outline: 0px;
} 

.selectDocumentType{
    width:350px;
}

#chooseFile,#selectDocumentType{
    height: 100px;
}