<br />
<div class="" style="text-align: center;">
    
    <div class="row" style="text-align: center;">
        
         <div class="col d-flex justify-content-center text-center fixed-bottom"> 
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="pills-one-tab" data-bs-toggle="pill" data-bs-target="#one" type="button" role="tab" aria-controls="pills-home" >1</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-two-tab" data-bs-toggle="pill" data-bs-target="#two" type="button" role="tab" aria-controls="pills-profile" >2</button>
                </li>
              </ul>
        </div>

            <form class="form" #Loanform="ngForm"  (ngSubmit)="onClickSubmit(Loanform.value)">
                <div class="tab-content" id="pills-tabContent">
                
                <div class="tab-pane fade show active" id="one" role="tabpanel" >

                    <div class="container-fluid row ">
                        <div class="col">
                        <div class="container">
                            <input required [(ngModel)]="user.name" #name="ngModel" type="text" id="enterName" minlength="3" name="name" placeholder="Enter Applicant Name">
                            <div class="alert alert-danger" *ngIf="name.touched && name.errors?.['required']">This field can't be empty</div>
                            <div class='alert alert-danger' *ngIf="name.errors?.['minlength']">Please enter a valid username</div>
                        </div>
                        <br/>
                        <div class="container">
                            <input required [(ngModel)]="user.add" #add="ngModel" type="text" id="enterAddress" name="add" placeholder="Enter Address ">
                            <div class="alert alert-danger" *ngIf="add.touched && add.errors?.['required']">This field can't be empty</div>
                        </div>
                        <br/>
                        <div class="container">
                            <input required [(ngModel)]="user.mob" #mob="ngModel" type="number" pattern="[0-9]{10}" id="enterMobile" name="mob" placeholder="Enter Mobile Number">
                            <div class="alert alert-danger" *ngIf="mob.touched && mob.errors?.['required']">This field can't be empty</div>
                            <div class='alert alert-danger' *ngIf="mob.errors?.['pattern']">Please enter a valid phoneno</div>
                        </div>
                        <br/>
                        <div class="container">
                            <input required [(ngModel)]="user.aadh" #aadh=ngModel pattern="[0-9]{12}" type="number" id="enterAadharNo" name="aadh" placeholder="Enter Applicant Aadhar Number">
                            <div class="alert alert-danger" *ngIf="aadh.touched && aadh.errors?.['required']">This field can't be empty</div>
                            <div class='alert alert-danger' *ngIf="aadh.errors?.['pattern']">Please enter a valid aadhar number</div>
                        </div>
                        <br/>
                        </div>
                        <div class="col">
                        <div class="container">
                            <input required [(ngModel)]="user.panno" #panno=ngModel pattern="[A-Z]{5}[0-9]{4}[A-Z]{1}" type="text" id="enterPanNo" name="panno" placeholder="Enter Applicant PAN number">
                            <div class="alert alert-danger" *ngIf="panno.touched && panno.errors?.['required']">This field can't be empty</div>
                            <div class='alert alert-danger' *ngIf="panno.errors?.['pattern']">Please enter a valid PAN number</div>
                        </div>
                        <br/>
                        <div class="container">
                            <input required [(ngModel)]="user.sal" #sal=ngModel type="number" id="enterSalary" pattern="[0-9]{2,10}" name="sal" placeholder="Enter Applicant Salary">
                            <div class="alert alert-danger" *ngIf="sal.touched && sal.errors?.['required']">This field can't be empty</div>
                            <div class='alert alert-danger' *ngIf="sal.errors?.['pattern']">Please enter a valid Salary</div>

                        </div>
                        <br/>
                        <div class="container">
                            <input required [(ngModel)]="user.amount" #amount=ngModel type="number" id="enterAmount" pattern="[0-9]{3,10}" name="amount" placeholder="Enter Loan Amount Required">
                            <div class="alert alert-danger" *ngIf="amount.touched && amount.errors?.['required']">This field can't be empty</div> 
                            <div class='alert alert-danger' *ngIf="amount.errors?.['pattern']">Please enter valid LoanAmount</div>
   
                        </div>
                        <br>
                        <div class="container">
                            <input required [(ngModel)]="user.months" #months=ngModel type="number" id="enterMonths" pattern="[1-9]{1,8}" name="months" placeholder="Enter Loan  RepaymentMonths">
                            <div class="alert alert-danger" *ngIf="months.touched && months.errors?.['required']">This field is required</div> 
                            <div class='alert alert-danger' *ngIf="months.errors?.['pattern']">Please enter valid repaymentMonths</div>
   
                        </div>
                        <br/>
                        </div>                        
                        </div>
                        <br>         
                </div>

                <div class="tab-pane fade " id="two" role="tabpanel" >
                    <div class="selectDocumentType container" id=selectDocumentType>
                        <p>Choose format*</p>
                        <select required [(ngModel)]="user.selector" #selector="ngModel" name="selector" class="form-select" (change)="onSelectType($event)" id="inputGroupSelect04" >
                            <option value="application/zip">zip</option>
                            <option value="application/x-rar-compressed">rar</option>
                            <option value="application/x-7z-compressed">7zip</option>
                        </select>
                        <div class="alert alert-danger" *ngIf="(selector.touched && !selector.dirty)">Please select a format</div>
                        </div>
                    <br>
                    <br>

                    <div class="container" style="height: 120px;" id="chooseFile">
                        <p>Compress and Upload(Aadhaar&Pan)</p>
                        <input [disabled]="!selector.dirty" required [(ngModel)]="user.myfile" #myfile=ngModel type="file" accept=".zip,.rar,.7zip" (change)="onSelectFile($event)" id="myfile" name="myfile">
                        <div *ngIf="displayProgress" class="progress">
                            <div class="progress-bar" role="progressbar" [style.width.%]=progress>
                              {{progress}}
                            </div>
                        </div>
                        <a *ngIf="download" role="button" (click)="downloadFile()" style="text-decoration: underline;">Download the uploaded file(s)</a>
                        <div class="alert alert-danger" *ngIf="myfile.touched && myfile.errors?.['required']">This field can't be empty</div>
                    </div>
                    <br/>
                    <br/>
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
                </div>
        </form>

        </div>
  


<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
</script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script> -->