.container{
    height: 80px;
    width: 400px;
    background-color: rgb(206, 203, 203);
    border-radius: 5px ;
    border: 5px;
    padding: 10px;
    margin-left: 100px;
} 

.container:hover{
    border-color: black;
    
    box-shadow:  0 4px 8px 0 rgba(0,0,0,0.2) ;
} 

input{
    padding: 10px 10px ;
    width: 350px;
    background-color:rgb(206, 203, 203) ;
    border: none;
}
input:focus{
   outline: none;
}

.container-fluid{
    margin-top: 20px;
}

/*pagination*/

.form-select{
    border:0px;
    outline: 0px;
}
select:focus{
    outline: 0px;
} 

.selectDocumentType{
    width:350px;
}

#chooseFile,#selectDocumentType{
    height: 100px;
}