.container{
    margin-top: 2%;
    padding: 1%;
    padding-left: 3%;
    border-radius: 10px;
    background-color: lightgray;
    font-family: Apple Chancery, cursive;
}
h2{
    text-align: center;
    color:rosybrown;
    margin-top: 2%;
 }