<div class="container justify-content-md-center">
    <br><br>
    <div class="row py-3">
        <div class="col-sm-3"></div>
        <div class="col"><div><b>UserName:</b> <h4>{{user?.username}}</h4></div></div>
        <div class="col-sm-3"></div>
    </div>
    <div class="row py-3">
      <div class="col-sm-3"></div>
      <div class="col"><div><b>UserType:</b> <h4>{{user?.userRole}}</h4></div></div>
      <div class="col-sm-3"></div>
    </div>
    <div class="row py-3">
      <div class="col-sm-3"></div>
      <div class="col"><div><b>Mobile No:</b> <h4>{{user?.mobileNumber}}</h4></div></div>
      <div class="col-sm-3"></div>
    </div>
    <div class="row py-3">
      <div class="col-sm-3"></div>
      <div class="col"><div><b>Email:</b> <h4>{{user?.email}}</h4></div></div>
      <div class="col-sm-3"></div>
    </div>
    <div class="row py-3 justify-content-md-center">
        <div class="col-sm-3"></div>
        <div class="col col-md-2"><button type="button" data-toggle="modal" data-target="#edit" class="btn btn-primary pull-right">Edit</button></div>
        <div class="col col-md-3"><button type="button" data-toggle="modal" data-target="#delete" class="btn btn-danger pull-left">Delete</button></div>
        <div class="col-sm-3"></div>
    </div>
</div>


  
  <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="editLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit Details</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
          <div class="modal-body">
            <p>Edit:
              
            </p>
            <div class="row">
              <div class="col"><button type=button (click)="toggleUsername()" class="btn btn-primary btn-block">username</button></div>
              <div class="col"><button type=button (click)="toggleEmail()" class="btn btn-primary btn-block">email</button></div>
              <div class="col"><button type=button (click)="togglePhno()" class="btn btn-primary btn-block">PhoneNo</button></div>
              <div class="col"><button type=button (click)="togglePswd()" class="btn btn-primary btn-block">password</button></div>
            </div><br>
            <form class="form" id="formid" #editForm = "ngForm" (ngSubmit)="onClickSubmit(editForm.value)">
              <div class="row"><input class="form-control my-2" [type]="usernametype" placeholder="UserName" name="username" [(ngModel)]="filler.username" #username="ngModel"></div>
              <div class="row"><input class="form-control my-2" [type]="emailtype" placeholder="E-Mail" name="email" [(ngModel)]="filler.email" #email="ngModel"></div>
              <div class="row"><input class="form-control my-2" [type]="mobiletype" placeholder="Mobile Number" name="phno" [(ngModel)]="filler.phno" #phno="ngModel"></div>
              <div class="row"><input class="form-control my-2" [type]="passwordtype" name="password" [(ngModel)]="filler.password" #password="ngModel" placeholder="New Password"></div>
              <div class="row"><input class="form-control my-2" [type]="passwordtype" name="password1" [(ngModel)]="filler.password1" #password1="ngModel" placeholder="Confirm Password"></div>
            </form>
            <div *ngIf="messageSet" class="alert alert-danger"><p>please correct the mistakes below:</p><p [innerText]="message"></p></div>
            <div *ngIf="messageOkSet"><b>Updated Successfully</b></div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" form="formid">Save changes</button>
          </div>
      </div>
    </div>
  </div>
  
  <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="deleteLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <b>Are you Sure to delete</b>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="delete()">Yes</button>
        </div>
      </div>
    </div>
  </div>