<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
    <div class="collapse navbar-collapse justify-content-center">
    <ul class="nav navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="appliedloans">Applied Loans</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="loandetails">Loan Details</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="Reviews">Reviews</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
</nav>

<router-outlet></router-outlet>