
<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#demo3" aria-controls="demo3" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse justify-content-center" id="demo3">
    <ul class="nav navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="addloan">ApplyLoan</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="loanstatus">Loan Status</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="profile">Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" routerLink="account">Account</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="repayment">Repayment</a>
      </li>
        <li class="nav-item">
          <a class="nav-link active" (click)="logout()" style="cursor: pointer;">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
