.card{
    border: none;
    width:400px;
    padding:40px;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    background-color: #e9897e;
}
.card h1{
    font-style: normal;
    color: white;
}