<div class="banner">
    <div class="container p-5">
        <div class="row">
            <div class="feedbackBox">
                <h3 class="d-flex justify-content-center">Feedback Form</h3>
                <p class="text-center">If you have a suggession or any feedback for us, we'd love to hear it</p>
                
                <div class="alert alert-success" *ngIf="msg">
                    {{msg}}
                </div>
                <div class="shadow p-3 mb-5 bg-white rounded">
                <div class="card mx-3 mt-n5 shadow-lg" style="border-radius:0px; border:none">
                    <form [formGroup]="feedbackForm" (ngSubmit)="sendFeedback()" novalidate>
            
                        <div class="form-group clearfix" [ngClass]="{'has-error':submitted && feedbackForm.controls['name'].errors}">
                            <label for="Name"><b>Name </b></label>
                            <input type="text" class="form-control" formControlName="Name" placeholder="Write your name" required/>
                            <div *ngIf="submitted && feedbackForm.controls['Name'].errors" class="help-block">
                                <div class="alert alert-danger" *ngIf="feedbackForm.controls['Name'].errors?.['required']">*Name is required.</div>
                            </div>
                        </div>
            

                        <div class="form-group clearfix" [ngClass]="{'has-error':submitted && feedbackForm.controls['email'].errors}">
                            <div class="form-floating mb-1"><label for="Email"><b>Email </b></label></div>

                            <input type="text" class="form-control" formControlName="Email" placeholder="Write your email" required/>
                            <div *ngIf="submitted && feedbackForm.controls['Email'].errors" class="help-block">
                                <div class="alert alert-danger" *ngIf="feedbackForm.controls['Email'].errors?.['required']">*Email is required.</div>
                            </div>
                        </div>


                        <div class="form-group clearfix" [ngClass]="{'has-error':submitted && feedbackForm.controls['msg'].errors}">
                            <label for="Message"><b>Please leave your feedback below </b></label>
                            <textarea class="form-control" formControlName="Message" rows="5" minlength="8" maxlength="100" placeholder="Write your valuable feedback"
                            required></textarea>
                            <div *ngIf="submitted && feedbackForm.controls['msg'].errors" class="help-block">
                                <div class="alert alert-danger" *ngIf="feedbackForm.controls['Message'].errors?.['required']">*Message is required.</div>
                                <div class="alert alert-danger" *ngIf="feedbackForm.controls['Message'].errors?.['minlength']">*Message must be at least 8 characters long.</div>
                                <div class="alert alert-danger" *ngIf="feedbackForm.controls['Message'].errors?.['maxlength']">*Message must be at most 100 characters long.</div>
                            </div>
                        </div>


                        <div class="form-group row">
                            <div class="col-sm-10">
                                <button class="btn btn-info" type="submit" [disabled]="submitted && feedbackForm.invalid">Submit</button>
                            </div>
                        </div>

                    </form>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>







<!--
    <div class="container">
    <div class="row">
        <div class="">
            <div class="card">
                <div class="text-center"><h1>FeedBack Form</h1></div>
                    <form class="form">
                        <div class="mb-3">
                            <input type="text" class="form-control" placeholder="Enter Name" >
                        </div>
                        <div class="mb-3">
                          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email address" aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3">
                            <input type="text" class="form-control" placeholder="Message" >
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
-->