<div class="container justify-content-md-center">
    <br><br>
    <table class="table table-bordered" >
        <thead scope="row">
        <tr scope="row" align="center">
        <th>loanId</th>
        <th>Name</th>
        <th>Address</th>
        <th>Aadhaar</th>
        <th>Pan</th>
        <th>Salary</th>
        <th>LoanAmount</th>
        <th>RepaymentMonths</th>
        <th>Documents</th>
        <th>Options</th>
    </tr>
    </thead>
    <tbody>
        <tr *ngFor="let loan of loans" scope="row" align="center">
            <td id="loanid">{{loan.loanId}}</td>
            <td>{{loan.applicantName}}</td>
            <td>{{loan.applicantAddress}}</td>
            <td>{{loan.applicantAadhaar}}</td>
            <td>{{loan.applicantPan}}</td>
            <td>{{loan.applicantSalary}}</td>
            <td>{{loan.loanAmountRequired}}</td>
            <td>{{loan.LoanRepaymentMonths}}</td>
            <td><a role="button" (click)="downloadFile(loan.loanId)" style="text-decoration: underline; color:blue;" >View</a></td>
            <td><button type="button" class="btn btn-success mr-l"
                data-toggle="modal" data-target="#edit"  data-backdrop="static" data-keyboard="false" (click)="func(loan.loanId)">Edit</button>&nbsp;&nbsp;
                <button type="button"  data-toggle="modal" data-target="#delete" class="btn btn-danger" data-backdrop="static" data-keyboard="false" (click)="func(loan.loanId)">Delete</button></td>
        </tr>
        
    </tbody>        
    





  </table>

  <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="editLabel" aria-hidden="true"> 
    <div class="modal-dialog" role="document" >
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit Details</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
          <div class="modal-body">
            <div class="row inline-block">
              <div class="col-4"><button type=button (click)="toggleName()" class="btn btn-primary btn-block">Name</button></div>
              <div class="col-4"><button type=button (click)="toggleAddress()" class="btn btn-primary btn-block">Address</button></div>
              <div class="col-4"><button type=button (click)="togglePan()" class="btn btn-primary btn-block">PanNumber</button></div>
            </div>
            &nbsp;
            <div class="row inline-block">
              <div class="col-3"><button type=button (click)="toggleAadhaar()" class="btn btn-primary btn-block">Aadhaar</button></div>
              <div class="col-3"><button type=button (click)="toggleSalary()" class="btn btn-primary btn-block">Salary</button></div>
              <div class="col-3">
              <input  required [(ngModel)]="filler.myfile" #myfile=ngModel type="file" accept=".zip,.rar,.7zip" (change)="onSelectFile($event)" id="myfile" name="myfile">
              <div *ngIf="displayProgress" class="progress">
                  <div class="progress-bar" role="progressbar" [style.width.%]=progress>
                    {{progress}}
                  </div>
              </div>  </div>          </div><br>
            <form class="form" id="formid" #editForm = "ngForm" (ngSubmit)="onClickSubmit(editForm.value)">
                
                <div class="row"><input class="form-control my-2" [type]="nametype" name="name" [(ngModel)]="filler.name" #name="ngModel" placeholder="Applicant Name"></div>
                <div class="row"><input class="form-control my-2" [type]="addresstype" placeholder="applicantAddress" name="address" [(ngModel)]="filler.address" #address="ngModel"></div>
                <div class="row"><input class="form-control my-2" [type]="pantype" placeholder="applicantPan" name="panno" [(ngModel)]="filler.panno" #panno="ngModel"></div>
                <div class="row"><input class="form-control my-2" [type]="aadhaartype" placeholder="applicantAadhaar" name="aadhaar" [(ngModel)]="filler.aadhaar" #aadhaar="ngModel"></div>
                <div class="row"><input class="form-control my-2" [type]="salarytype" name="salary" [(ngModel)]="filler.salary" #salary="ngModel" placeholder="applicantSalary"></div>
                
              </form>
              <div *ngIf="messageSet" class="alert alert-danger"><p>please correct the mistakes below:</p><p [innerText]="message"></p></div>
              <div *ngIf="messageOkSet"><b>Updated Successfully</b></div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary" form="formid">Save changes</button>
            </div>
        </div>
      </div>
    </div>
  </div>   
  
  <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="deleteLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <b>Are you Sure to delete</b>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="delete()">Yes</button>
        </div>
      </div>
    </div>
  </div>