.example-container {
  max-width: 50%;
  margin-top: 60px;
  margin-left: 120px;
  display: flex;
  flex-direction: column;
}
.center {
  margin-left: 120px;
  margin-right: auto;
}
.example-container > * {
  width: 100%;
  margin-left: 120px;
}

.mat-tab-label {
  margin-left: 120px;
  font-weight: bold !important;
  text-transform: uppercase;
}

.result {
  font-family: consolas;
  border-top: 1px dotted purple;
  margin-top: 60px;
  margin-left: 80px;

    padding-left: 4em;

  letter-spacing: 2px;
}
.padding-table-columns td
{
    padding:0 5px 0 0; /* Only right padding*/
}
th, td {
  padding: 15px;
}
table,tr, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  border-right: 1px solid black;
}
table { border: 2px solid black }
td { border: thin solid black }
