<div class="container">
    <div *ngFor="let loan of loans">
        <div *ngIf="loan.TimestampofLoan==null" class="loanItem">
            <div class="row">
                <div class="col"><b>loanId</b> : {{loan.loanId}}</div>
                <div class="col"><b>Name</b> : {{loan.applicantName}}</div>
                <div class="col"><b>Email</b> : {{loan.applicantEmail}}</div>
            </div>
            <div class="row">
                <div class="col"><b>Aadhaar</b> : {{loan.applicantAadhaar}}</div>
                <div class="col"><b>Pan</b> : {{loan.applicantPan}}</div>
                <div class="col"><b>Phno</b> : {{loan.applicantMobile}}</div>
            </div>
            <div class="row">
                <div class="col"><b>Salary</b> : {{loan.applicantSalary}}</div>
                <div class="col"><b>Loan Amount</b> : {{loan.loanAmountRequired}}</div>
                <div class="col"><b>Repayment Months</b> : {{loan.LoanRepaymentMonths}}</div>
            </div>
            <div class="row">
                <div class="col"><b>Address</b> : {{loan.applicantAddress}}</div>
            </div>
            <div class="row"> 
                <div class="col"><b>Verify Doc</b> : <a role="button" (click)="downloadFile(loan.documentId)" style="text-decoration: underline; color:blue;">Download</a></div>
                <div class="col"><button class="btn btn-danger pull-right" (click)="reject(loan.loanId)">Reject Loan</button></div>
                <div class="col"><button class="btn btn-success" (click)="accept(loan.loanId)">Approve Loan</button></div>
            </div>
        </div>
    </div>
</div>